body {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#container-2 {
    display: none;
}

body.circles #container-1 {
    display: block;
}

body.circles #container-2 {
    display: none;
}

body.lines #container-1 {
    display: none;
}

body.lines #container-2 {
    display: block;
}

button {
    outline: none;
    background: none;
    border: 1px solid orange;
    padding: 0.4em 0.8em;
    color: orange;
}

button.active {
    background-color: orange;
    color: white;
}