@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

#container-2 {
    display: none;
}

body.circles #container-1 {
    display: block;
}

body.circles #container-2 {
    display: none;
}

body.lines #container-1 {
    display: none;
}

body.lines #container-2 {
    display: block;
}

h1 {
    position: fixed;
    bottom: 15px;
    left: 15px;
    margin: 0;
    background-color: rgb(22, 22, 22);
    font-size: 20px;
    font-weight: 300;
}

#ctn-btn-zone {
    display: none;
}

body.lines #ctn-btn-zone {
    display: block;
}

.buttons-top {
    position: fixed;
    top: 5px;
    left: 5px;
}

.buttons-bottom {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

button {
    outline: none;
    background: none;
    border: 1px solid white;
    padding: 0.4em 0.8em;
    color: white;
    margin-bottom: 0.5em;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
}

button.active {
    background-color: white;
    color: black;
}

button.all {
    border-color: #FFD6E0;
    color: #FFD6E0;
}

button.intersex {
    border-color: #FFEF9F;
    color: #FFEF9F;

}

button.trans {
    border-color: #90F1EF;
    color: #90F1EF;
}

button.gay {
    border-color: #C1FBA4;
    color: #C1FBA4;
}

button.lesbians {
    border-color: #ddddff;
    color: #ddddff;
}

button.all.active {
    background-color: #FFD6E0;
    color: black;
}

button.intersex.active {
    background-color: #FFEF9F;
    color: black;

}

button.trans.active {
    background-color: #90F1EF;
    color: black;
}

button.gay.active {
    background-color: #C1FBA4;
    color: black;
}

button.lesbians.active {
    background-color: #ddddff;
    color: black;
}

.legende {
    position: fixed;
    top: 5px;
    right: 5px;
}

body.lines .legende {
    display: none;
}

.open {
    position: relative;
    z-index: 2;
}

.content {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    right: 0;
    top: 0;
    display: none;
    color: black;
    z-index: 1;
    padding: 1em;
}

.legende:hover .open {
    color: black;
}

.legende:hover .content {
    display: block;
}
