body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: rgb(22, 22, 22);
    color: white;
}

#container-2 {
    display: none;
}

body.circles #container-1 {
    display: block;
}

body.circles #container-2 {
    display: none;
}

body.lines #container-1 {
    display: none;
}

body.lines #container-2 {
    display: block;
}

.buttons {
    position: fixed;
    top: 5px;
    left: 5px;
}

button {
    outline: none;
    background: none;
    border: 1px solid white;
    padding: 0.4em 0.8em;
    color: white;
    margin-bottom: 0.5em;
}

button.active {
    background-color: white;
    color: black;
}

button.all {
    border-color: #FFD6E0;
    color: #FFD6E0;
}

button.intersex {
    border-color: #FFEF9F;
    color: #FFEF9F;

}

button.trans {
    border-color: #90F1EF;
    color: #90F1EF;
}

button.gay {
    border-color: #C1FBA4;
    color: #C1FBA4;
}

button.lesbians {
    border-color: #ddddff;
    color: #ddddff;
}

button.all.active {
    background-color: #FFD6E0;
    color: black;
}

button.intersex.active {
    background-color: #FFEF9F;
    color: black;

}

button.trans.active {
    background-color: #90F1EF;
    color: black;
}

button.gay.active {
    background-color: #C1FBA4;
    color: black;
}

button.lesbians.active {
    background-color: #ddddff;
    color: black;
}
